{% extends 'base.html.twig' %}

{% block title %}Cocktail index{% endblock %}

{% block body %}
    <h1>Cocktail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cocktail in cocktails %}
            <tr>
                <td>{{ cocktail.id }}</td>
                <td>{{ cocktail.Nom }}</td>
                <td>
                    <a href="{{ path('cocktail_show', {'id': cocktail.id}) }}">show</a>
                    <a href="{{ path('cocktail_edit', {'id': cocktail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cocktail_new') }}">Create new</a>
{% endblock %}
