{% extends 'base.html.twig' %}

{% block title %}Ajouter un cocktail
{% endblock %}

{% block body %}
	<h1>Ajouter un cocktail</h1>

	<div class="row">
		<div class="col-6">
			{{ form_start(formCocktail) }}
			{{ form_widget(formCocktail) }}
			<div class="mb-3">
				<label class="form-label" for="couleur">Couleur :</label>
				<select onchange="onFruitSelect()" class="form-select" id="couleur" name="couleur">
						<option value="-1"></option>
					{% for c in couleurs %}
						<option value="{{ c.id }}">{{ c.nom }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="mb-3" id="div-select-fruit" style="display: none;">
				<label class="form-label" for="fruit">Fruit :</label>
				<select class="form-select" id="fruit" name="fruit">
					<option value="0">yes</option>
					<option value="1">yes1</option>
				</select>
			</div>

			<button type="submit" class="btn btn-success mt-2">+</button>
			{{ form_end(formCocktail) }}
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		function onFruitSelect(){
			let idColor = document.getElementById('couleur').value;
			if(idColor !== -1) {
				document.getElementById('div-select-fruit').style.display = 'inherit';

				let url = 'http://localhost/__symfony/cocktail-maker/public/filtre-fruits-par-couleur/'+idColor;
				let sel = document.getElementById('fruit');
				for(let i = 0; i < sel.options.length+1; i++){
					sel.options[i].remove();
					console.log(sel.options.length);
				}
				/*axios.get(url).then(function (response) {
					for(let i = 0; i < response.data.length; i++){
						let opt = document.createElement('option');
						opt.value = response.data[i].id;
						opt.text = response.data[i].nom;
						sel.add(opt, null);
					}
				});*/
			}
		};
	</script>

{% endblock %}
